<div class="container margin">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign Up</h3>
                </div>
                <div class="panel-body">
                    <form [formGroup]="formGroup" class="form-horizontal" action="" method="post" #registrationForm="ngForm">
                        <div class="form-group">
                            <div class="col-md-12  inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input name="user-name" formControlName="Name" placeholder="Full Name" [(ngModel)]="user.name" class="form-control" type="text" >
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input name="user-uname" formControlName="UserName" placeholder="User Name" [(ngModel)]="user.username" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12  inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-earphone"></i>
                                    </span>
                                    <input name="user-phone-mobile" formControlName="Mobile" placeholder="+91 9781232100" [(ngModel)]="user.phone" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12  inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                    </span>
                                    <input name="user-email" formControlName="Email" placeholder="mail@example.com" [(ngModel)]="user.email" class="form-control" type="text" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12  inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input class="form-control" formControlName="Password" type="password" name="user-pass" placeholder="Password" [(ngModel)]="user.password"/>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12  inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input class="form-control" formControlName="ConfirmPassword" type="password" name="confirm-password" placeholder="Confirm Password" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" (click)="createUser(user);" class="btn btn-info btn-block">Register
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                                <div class="col-md-12">
                                    <p>{{message}}</p>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>